nav {
	background-color: lightgrey;
	margin: 0 auto;
	padding: 0;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
}

/**********************
List Elements
**********************/
nav ul {
	list-style-type: none;
	height: 50px;
}

nav li {
	float: left;
	margin: 10px;
}

/**********************
Anchor Elements
**********************/
nav ul li a {
	text-decoration: none;

}

nav ul li a:hover {
	color: yellow;
	background: blue;
	text-decoration: underline;
	font-weight: bold;
}

nav ul li a:active {
	color: gold;
	padding: 0 5px;
	margin: 0 5px;
	font-size: 20px;
}